<!doctype html>
<html lang="{{ page.language | default: "en" }}" dir="{{ page.language_dir | default: "ltr" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61243294-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-61243294-9');
    </script>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <title>Fibonacci Versioning</title>

    <meta name="author" content="Konrad Kokosa">
    <meta name="description" content="Fibonacci Versioning 1.13.89">
    <meta name="keywords" content="software, development, versioning">    
  </head>
  <body>
    <div id="spec">
     {{ content }}
    </div>
    <script src="/js/anchorli.js"></script>
  </body>
</html>
